extends layout

block content
  h1= title
  p Welcome to #{title}. This example site will demonstrate how to take your
  | coding skills to the next level. This source code is annotated.

  h2 Populating Backbone with Mongo Data.
  #data Backbone data to go here..

  script(type="text/template" id="product").
    <div class="row">
    <% _.each(obj, function(elem, idx){ %>
        <div class="product">
            <p><strong>name:</strong> <%= elem.name %></p>
            <p><strong>description:</strong> <%= elem.description %></p>
            <p><strong>color:</strong> <%= elem.color %></p>
            <p><strong>model:</strong> <%= elem.model %></p>
            <p><strong>rating:</strong> <%= elem.rating %></p>
            <p><strong>reviews:</strong> <%= elem.reviews %></p>
        </div>
        <% if(idx > 0 && idx % 3 === 0 ) { %>
         </div> <div class="row">
        <% } %>
    <% }); %>


  script.
    ProductsView = Backbone.View.extend({
      el: $("#data"),
      template: _.template($("#product").html()),

      initialize: function(){
         that = this;
         this.model.on("change", this.updateView);
      },
      render: function(data){
          this.$el.html(this.template(this.model.attributes.products));
          return this;
      },
      updateView: function(data){
          that.render(data)
      }
    });
    ProductsModel = Backbone.Model.extend({
      urlRoot: '/products',

      initialize: function(){
        this.fetch();
      }
    });

    $(document).ready(function(){
        productsView = new ProductsView({ model: new ProductsModel });
    });

