doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="javascripts/vendor/jquery/jquery.js")
    script(src="javascripts/vendor/underscore/underscore.js")
    script(src="javascripts/vendor/backbone/backbone.js")
  body
    block content